body {
    font-family: "Poppins";
}

.flexCenterCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexEndEnd{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.flexStartStart{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flexStartCenter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexBetweenCenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center{
    display: flex;
    align-items: center;
}
